{%extends "registration/layout.html"%}
{%block body%}
<h1>Student{{student.id}}</h1>
<ul>
    <li>First name: {{ student.Fname }}</li>
    <li>Last name: {{ student.Lname }}</li>
    <li>college : {{ student.college }} </li>
    <li>age: {{ student.age }}</li>
</ul>
<h1>Registered Courses</h1>
<ul>
    {% for course in registered %}
    <li>{{course}}</li>
    {%endfor%}
</ul>
<h1>Add Course</h1>
<form method="post">
    {%csrf_token%}
    <label for="course">Select a course:</label>
    <select name="course" id="course">
        {% for course in not_registered %}
        <option value="{{ course.id }}">{{ course }}</option>
        {% endfor %}
    </select>
    <button type="submit">Submit</button>
</form>

<a href="{%url 'createCourse'%}"><h2>Add course</h2></a>

<a href="{%url 'createStudent'%}"><h2>Add student</h2></a>
<a href="{%url 'students'%}"><h2>All Students</h2></a>
<a href="{%url 'courses'%}"><h2>All Courses</h2></a>

{%endblock%}